.grass {
  background-color: #77c856;
}
.fire {
  background-color: #ee7730;
}
.water {
  background-color: #878fee;
}
.electric{
   background-color: #f7cf2e;
}
.ice{
   background-color: #98d5d7;
}
.ground{
   background-color: #dfb769;
}
.flying{
   background-color: #898ff0;
}
.poison{
   background-color: #a04050;
}
.fighting{
  background-color:  #bf3029;
}
.psychic{
  background-color:  #765687;
}
.dark{
  background-color:  #725847;
}
.rock{
  background-color:  #b85137;
}
.bug {
  background-color: #a8b720;
}
.ghost{
   background-color: #6e5896;
}
.steel{
   background-color: #b9b7cf;
}
.dragon{
   background-color: #6f38f6;
}
.normal{
   background-color: #a6a877;
}
.fairy{
   background-color: #f9aec7;
}


.pokemons{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
}

.pokemon{
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

}

.pokemon .number{
  color: #000;
  opacity: .3;
  text-align: right;
  font-size: .625rem;
}

.pokemon .name{
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: bold;
}

.pokemon .detail{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types{
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.pokemon .detail .types .type{
  color: #fff;
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: .625rem;
  border-radius: 1rem;
  text-align: center;
  align-items: center;
  filter: brightness(1.1);
}

.pokemon .detail img{
  max-width: 100%;
  height: 70px;
  align-self: flex-end;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

#loudMore{
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: .625rem;

}

#loudMore:hover{
  background-color: #fff;
  color:  #6c79db;
  cursor: pointer;

}

@media screen and (min-width: 380px){
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (min-width: 576px){
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (min-width: 992px){
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
}
