.grass {
  background-color: #77c856;
}
.fire {
  background-color: #ee7730;
}
.water {
  background-color: #878fee;
}
.electric{
   background-color: #f7cf2e;
}
.ice{
   background-color: #98d5d7;
}
.ground{
   background-color: #dfb769;
}
.flying{
   background-color: #898ff0;
}
.poison{
   background-color: #a04050;
}
.fighting{
  background-color:  #bf3029;
}
.psychic{
  background-color:  #765687;
}
.dark{
  background-color:  #725847;
}
.rock{
  background-color:  #b85137;
}
.bug {
  background-color: #a8b720;
}
.ghost{
   background-color: #6e5896;
}
.steel{
   background-color: #b9b7cf;
}
.dragon{
   background-color: #6f38f6;
}
.normal{
   background-color: #a6a877;
}
.fairy{
   background-color: #f9aec7;
}
